@page "/"

@using Pinetree.Components.Services
@using Pinetree.Model
@using Pinetree.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Security.Claims

@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext
@inject ProtectedLocalStorage ProtectedLocalStore
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">
    <h1 style="font-size: 4em; margin-bottom: 0.5em;">Welcome to Pinetree</h1>
    <p style="font-size: 2em; margin-bottom: 1em;">A hierarchical Markdown editor for your needs</p>
    <img src="Pinetree.png" alt="Pinetree Image" />
    <div class="mt-4">
        <button class="btn btn-outline-primary btn-lg m-2" @onclick="TryItNow"><i class="bi bi-tools"></i>Try it now</button>
        <button class="btn btn-outline-success btn-lg m-2" @onclick="Register"><i class="bi bi-person"></i>Register</button>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            if (user.Identity != null && user.Identity.IsAuthenticated)
            {
                var userName = authState.User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value;
                var url = $"/{userName}/List";
                Navigation.NavigateTo(url);
            }
        }
    }

    private async Task TryItNow()
    {
        var url = await ProtectedLocalStore.GetOrAddTopAsync(DbContext);
        Navigation.NavigateTo(url);
    }

    private void Register()
    {
        Navigation.NavigateTo("Account/Register");
    }
}
