@page "/"

@using Pinetree.Model
@using Pinetree.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext
@inject ProtectedLocalStorage ProtectedLocalStore
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; flex-direction: column;">
    <h1 style="font-size: 4em; margin-bottom: 0.5em;">Welcome to Pinetree</h1>
    <p style="font-size: 2em; margin-bottom: 1em;">A hierarchical Markdown editor for your needs</p>
    <img src="Pinetree.png" alt="Pinetree Image" />
    <div class="mt-4">
        <button class="btn btn-outline-primary btn-lg m-2" @onclick="Try">Try it now</button>
        <button class="btn btn-outline-success btn-lg m-2" @onclick="Register">Register</button>
    </div>
</div>
 
 @code {
    [Parameter]
    public string UserId { get; set; } = "";

    private async Task Try()
    {
        if (UserId == "")
        {
            try
            {
                var userId = await ProtectedLocalStore.GetAsync<string>("UserId");
                if (userId.Success && userId.Value != null)
                {
                    UserId = userId.Value;
                }
                else
                {
                    UserId = Guid.NewGuid().ToString("N");
                    await ProtectedLocalStore.SetAsync("UserId", UserId);
                }
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error ProtectedLocalStore: {ex.Message}");
            }
        }

        var pinecone = new Pinecone() { Title = "Untitled", Content = "", GroupId = 0, ParentId = null, UserId = UserId!, IsSandbox = true };
        try
        {
            await DbContext.Pinecone.AddAsync(pinecone);
            DbContext.SaveChanges();
            pinecone.GroupId = pinecone.Id;
            DbContext.SaveChanges();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error DbContext: {ex.Message}");
        }

        var url = $"/markdown-editor/{UserId}/{pinecone.Id}";
        Navigation.NavigateTo(url);
    }

    private void Register()
    {
        Navigation.NavigateTo("Account/Register");
    }
}
