@page "/markdown-editor"
@using Markdig
@inject IJSRuntime JS
@rendermode InteractiveServer


<div class="editor-container">
    <div class="markdown-title">
        <input @bind="Title">@Title</input>
        <button @onclick="SaveText">Save</button>
    </div>
    <div class="markdown-editor">
        <div class="editor">
            <textarea @oninput="OnInputChange" class="markdown-input" placeholder="Write your markdown here...">@Content</textarea>
        </div>
        <div class="preview">
            <p>
                @((MarkupString)MarkdownText)
            </p>
        </div>
    </div>
</div>

@code {
    private string Content { get; set; } = "";
    private string Title { get; set; } = "";
    private string MarkdownText { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This ensures the JavaScript interop only happens after the component is rendered.
        if (firstRender)
        {
            // var savedMarkdown = await JS.InvokeAsync<string>("localStorage.getItem", "savedMarkdown");
            // if (!string.IsNullOrEmpty(savedMarkdown))
            // {
            //     markdownText = savedMarkdown;
            //     StateHasChanged();  // Trigger re-rendering after setting the savedMarkdown
            // }
        }
    }

    private void OnInputChange(ChangeEventArgs e)
    {
        Content = e.Value?.ToString() ?? "";
        MarkdownText = Markdown.ToHtml(Content);

        StateHasChanged();
    }

    private void SaveText()
    {
        // await JS.InvokeVoidAsync("localStorage.setItem", "savedMarkdown", markdownText);
        // await JS.InvokeVoidAsync("alert", "Markdown text saved!");
    }


}
