@using Pinetree.Model

@if (PineTree != null)
{
    <ul>
        <li>
            <span @onclick="() => ToggleNode(PineTree)">
                @if (PineTree.Children.Any())
                {
                    <span>@(PineTree.IsExpanded ? "-" : "+")</span>
                }
                else
                {
                    <span>&nbsp;</span>
                }
                @PineTree.Title
            </span>
            @foreach (var tree in PineTree.Children)
            {

                @if (tree.IsExpanded && tree.Children.Any())
                {
                    <PineTreeView PineTree="@(tree)" />
                }
            }
            <button @onclick="() => AddChild(PineTree)">+</button>
        </li>
    </ul>
}

@code {
    [Parameter] public required PineTree PineTree { get; set; }

    private void ToggleNode(PineTree node)
    {
        node.IsExpanded = !node.IsExpanded;
    }

    private void AddChild(PineTree node)
    {
    }
}
