@using Pinetree.Model
@using Pinetree.Data


@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext

@if (PineTree != null)
{
    <ul>
        <li>
            <span @onclick="() => ActivePineTree(PineTree)">
                @PineTree.Title
            </span>
            <button @onclick="() => AddChild(PineTree)">+</button>
            @foreach (var tree in PineTree.Children)
            {
                <PineTreeView UserId="@(UserId)" PineTree="@(tree)" />
            }
        </li>
    </ul>
}

@code {
    [Parameter]
    public required string UserId { get; set; }

    [Parameter]
    public required PineTree PineTree { get; set; }


    private void ActivePineTree(PineTree node)
    {
        var url = $"/markdown-editor/{UserId}/{node.Id}";
        Navigation.NavigateTo(url);
        StateHasChanged();
    }

    private void AddChild(PineTree node)
    {
        var pinecone = new Pinecone() { Title = "Untitled", Content = "", GroupId = PineTree.GroupId, ParentId = PineTree.Id, UserId = UserId!, IsSandbox = false };
        DbContext.Pinecone.Add(pinecone);
        DbContext.SaveChanges();

        var url = $"/markdown-editor/{UserId}/{pinecone.Id}";
        Navigation.NavigateTo(url);
        StateHasChanged();
    }
}
