@page "/Account/Manage/Plan"
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@using Pinetree.Data
@using Pinetree.Services
@using Pinetree.Shared

@inject IdentityUserAccessor UserAccessor
@inject SignInManager<ApplicationUser> SignInManager

<PageTitle>Manage Plan</PageTitle>

<h3>Manage Plan</h3>

<StatusMessage Message="@message" />
<div class="row">
    <div class="col-xl-6">
        <form @onsubmit="OnSubmit" @formname="send-verification" id="send-verification-form" method="post">
            <AntiforgeryToken />
            <div class="form-floating mb-3 input-group">
                <input type="text" value="@role" id="plan" class="form-control" placeholder="Enter your email" disabled />
                <label for="plan" class="form-label">Plan</label>
            </div>
            @if (IsFree)
            {
                <button type="submit" class="w-100 btn btn-lg btn-primary">
                    @(IsReturningCustomer ? "Reactivate Pro Plan" : "Update Pro Plan") (In Testing)
                </button>
            }
            else
            {
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Manage Billing & Invoices (In Testing)</button>
                    <div class="text-center mt-2">
                        <small class="text-muted">
                            Opens Stripe secure billing portal in a new window
                        </small>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    [Inject]
    public required PaymentService PaymentService { get; set; }
    [Inject]
    public required UserManager<ApplicationUser> UserManager { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private string message = "";
    private string? role;
    private bool IsFree;
    private bool IsReturningCustomer;
    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue("payment", out var paymentStatus))
        {
            if (paymentStatus == "success")
            {
                message = "Your payment was successful. We appreciate your professional.";
            }
            else if (paymentStatus == "cancel")
            {
                message = "Error: There was an error processing your payment. Please try again later.";
            }
        }

        var currentUser = await UserAccessor.GetRequiredUserAsync(HttpContext);
        var roles = await UserManager.GetRolesAsync(currentUser);
        Debug.Assert(roles.Count <= 1, "User has more than one role assigned");
        role = roles.FirstOrDefault() ?? "Free";
        IsFree = role == null ? true : Roles.IsFree(role);
        IsReturningCustomer = IsFree && !string.IsNullOrEmpty(currentUser.StripeCustomerId);
    }

    private void RefreshPage()
    {
        NavigationManager.NavigateTo("/Account/Manage/Plan", forceLoad: true);
    }

    private async Task OnSubmit()
    {
        string url;

        if (IsFree)
        {
            if (IsReturningCustomer)
            {
                url = await PaymentService.CreatePortalSession();
            }
            else
            {
                url = await PaymentService.CreateCheckoutSessionAsync();
            }
        }
        else
        {
            url = await PaymentService.CreatePortalSession();
        }

        NavigationManager.NavigateTo(url);
    }
}