@implements IDisposable

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="pinetree.png" alt="Pinetree logo" width="32" height="32">
            Pinetree
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Pricing">
                                <i class="bi bi-cash-coin" aria-hidden="true"></i> Pricing
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Manage">
                                <i class="bi bi-person-fill" aria-hidden="true"></i> @context.User.Identity?.Name
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <i class="bi bi-arrow-bar-up" aria-hidden="true"></i> Logout
                                </button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/play">
                                <i class="bi bi-tools"></i> Playground
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Register">
                                <i class="bi bi-person" aria-hidden="true"></i> Register
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login">
                                <i class="bi bi-person-badge" aria-hidden="true"></i> Login
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Pricing">
                                <i class="bi bi-cash-coin" aria-hidden="true"></i> Pricing
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/feedback">
                        <i class="bi bi-chat-dots" aria-hidden="true"></i> Feedback
                    </NavLink>
                </li>
            </ul>

            @*          <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
 *@
        </div>
    </div>
</nav>


@code {
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
